.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    margin-left: -25px;

    .centerContent {
        position: relative; 
        display: flex;
        height: 273px;
    }
    .main-text {
       
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: linear-gradient(to bottom, red, yellow);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 315px;
        overflow: hidden;
    }
    img {
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0));
    }

    .image-section {
        position: absolute;
        transform: scale(0.6);
        top: -130px;
        left: -77px;
    }
    .zIndex {
        z-index: 100;
    }
}
.blackBackground {
    background-color: black;
    h2 {
        color: white !important;
    }
}