.main-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.blackBackground {
    background-color: black;
    h2 {
        color: white !important;
    }
}